<h2 class="chatroom-title">
  <%= image_tag('inori.png') %>
</h2>

<%= form_tag(posts_path,:method => 'get') do %>
  <div class="ui fluid icon input search-input">
    <%= text_field_tag :search %>
  </div>
  <%= submit_tag 'Search', :name => nil, class: "ui gray button" %>
  <%= button_tag posts_path, type: :submit, class: "ui gray button" do %>
    <%= 'All' %>
  <% end %>
<% end %>

<div class="ui fluid raised card chatbox">
  <div class="content" id="messages">
    <div class="ui feed" id="message-container">
      <%= render @messages %>
    </div>
  </div>
  <div class="extra content">
    <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
      <div class="field" style="font-size: 25px">
        <div class="ui fluid icon input">
          <%= f.text_field :username, :maxlength => 25, placeholder: "Name", autofocus: true %>
        </div>
        <div class="ui fluid icon input">
          <%= f.text_field :body, :maxlength => 340, placeholder: "I hope that our world turns and that things get better. #coronavirus", autofocus: true %>
        </div>
        <div class="ui fluid icon">
          <%= button_tag type: :submit, class: "ui secondary button", id: "submit" do %>
            <%= "Pray" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
