<div class="home-content">
  <h2 class="app-title">
    <span style="font-size:160px; color:white; letter-spacing: -0.1em">P</span>ray <span style="font-size:160px; color:white; letter-spacing: -0.1em">F</span>or <span style="font-size:160px; color:white; letter-spacing: -0.05em">O</span>ur <span style="font-size:160px; color:white; letter-spacing: -0.1em">W</span>orld
  </h2>

  <h2 class="home-icon">
    <%= image_tag('praying.png') %>
  </h2>

  <p class="about" align="center">
    About Coronavirus,
    <br>Disaster, Poverty, Disease...
  </p>

  <h1 class="title" align="center">
    Our Prayers
    <br>Make Our World Better !
  </h1>

  <h1 class="hope" align="center">
    Hope Is A Good Thing
  </h1>

  <%= form_tag(posts_path,:method => 'get') do %>
    <%= button_tag posts_path, class: "link-post" do %>
      <%= 'Pray Now' %>
    <% end %>
  <% end %>

  <p class="total-number" align="center">
    Total Number of Prays <%= @number %>
  </p>
</div>
